.nav {
  padding: 30px;
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: auto;
  /* width: 30px; */
}

.nav__heading {
  padding-left: 30px;
  padding-right: 30px;
  margin: 7px;
}

.maingame__invite__button {
  background-color: transparent;
}
